/*--UNIVERSAL STYLES--*/

html {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 2.2rem;
  font-weight: bold;
  margin: 1rem 0;
  color: dimgrey;
}

h3 {
  font-size: 1.3rem;
  margin: 1rem 0;
  font-weight: bold;
  color: dimgrey;
}

h4 {
  font-size: 1.1rem;
  color: dimgrey;
}

p {
  color: dimgrey;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/*--HEADER STYLES--*/

#header-large {
  border: 2px dotted red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

#header-small {
  display: none;
}

.logo {
  border: 2px dashed blue;
  display: flex;
  align-items: center;
  margin-left: 24px;
}

.logo img {
  height: 32px;
}

.logo p {
  color: silver;
}

.logo p:nth-child(2n+0) {
  color: black;
  font-weight: bold;
}

nav ul {
  border: 2px dashed blue;
  display: flex;
  align-content: center;
  margin-right: 24px;
}

nav ul li {
  margin: 8px;
}

@media only screen and (max-width: 760px) {

  #header-large {
    display: none;
  }

  #header-small {
    border: 2px dotted red;
    display: flex;
    justify-content: center;
    height: 64px;
  }

  .icons {
    border: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: space-between;

  }


}


/*--BANNER SECTION STYLES--*/

.banner {
  border: 2px dotted green;
  display: flex;
  padding: 32px 24px;
  background-color: silver;
  color: dimgrey;
}

.banner-img {
  border: 2px dashed purple;
  width: 60%;
}

.banner img {
  width: 100%;
  background-position: center;
  background-size: cover;
}

.banner-content {
  border: 2px dashed purple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 24px;
}

.banner-button {
  background-color: dimgrey;
  padding: 8px 6rem;
  text-align: center;
  max-width: 6rem;
}

.banner-button p {
  color: white;
}


/*--INFORMATION SECTION STYLES--*/

.information {
  border: 2px dotted orange;
  display: flex;
  margin: 32px 24px;
}

.information p {
  color: dimgrey;
}

.information-main {
  border: 2px dashed teal;
  width: 60%
}

.information-main h1 {
  margin-top: 32px;
  margin-bottom: 24px;
}

#attribution {
  font-size: .8rem;
  margin: 32px 0;
}

.information-main img {
  height: auto;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.information-schedule {
  border-left: 2px solid lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 24px;
  width: 40%;
}

.information-schedule p {
  margin-bottom: 8px;
}

.information-schedule div:first-child {
  border-bottom: 2px solid lightgrey;
}

.information-schedule div:nth-child(3n+0) {
  background-color: lightgrey;
}

.schedule-item {
  display: flex;
}

.schedule-img {
  border: 4px dotted black;
  width: 35%;
  padding: 16px;
}

.schedule-item img {
  width: 100%;
  background-position: center;
  background-size: cover;
}

.schedule-item-content {
  border: 2px dotted firebrick;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
}

.schedule-item-content a {
  color: deepskyblue;
}


/*--COURSES SECTION--*/

.courses {
  border: 3px dotted blue;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.courses h1 {
  margin: 32px 0 0 0;
}

.course-grid {
  border: 3px dashed red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 32px 72px;
}

.course {
  border: 3px dotted green;
  width: 18rem;
  margin: 0 16px 16px 16px;
  background-color: white;
}

.course-img {
  border: 4px dotted black;

}

.course img {
  width: 100%;
  background-position: center;
  background-size: cover;
}

.course-content {
  margin: 0 16px 24px 16px;
}

.course h4 {
  margin: 8px 0;
}


/*--THESIS EXHIBIT SECTION--*/

.thesis-exhibit {
  border: 2px dotted orange;
  margin: 32px 24px;
}

.thesis-exhibit h1 {
  text-align: center;
}

.thesis-grid {
  border: 3px solid teal;
  display: flex;
}
.thesis-big {
  border: 2px dashed red;
  width: 60%
}

.thesis-big h1 {
  margin-top: 32px;
  margin-bottom: 24px;
}

.thesis-big video {
  height: auto;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.thesis-small {
  border-left: 2px solid lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 24px;
  width: 40%;
}

.thesis-small p {
  margin-bottom: 8px;
}

.thesis-small div:first-child {
  border-bottom: 2px solid lightgrey;
}

.thesis-small div:nth-child(3n+0) {
  background-color: lightgrey;
}

.thesis-small-item {
  display: flex;
}

.thesis-small-item-img {
  border: 4px dotted black;
  width: 35%;
  padding: 16px;
}

.thesis-small-item img {
  width: 100%;
  background-position: center;
  background-size: cover;
}

.thesis-small-item-content {
  border: 2px dotted firebrick;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
}

.thesis-small-item-content a {
  color: deepskyblue;
}


/*--FOOTER--*/

footer {
  display: flex;
  justify-content: space-between;
  height: 2.5rem;
  padding: 16px 24px;
  border-top: 1px solid lightgrey;
  font-size: .8rem;
}
